In [1]:
import numpy as np
import pandas as pd

In [2]:
pitch_stats = pd.read_csv("https://raw.githubusercontent.com/chadwickbureau/baseballdatabank/master/core/Pitching.csv",sep=',')

In [3]:
pitch_stats

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,2020,1,TOR,AL,1,0,3,1,0,...,0.0,0,0.0,0,47.0,1,2,0.0,0.0,0.0
48395,zimmebr02,2020,1,BAL,AL,0,0,2,1,0,...,0.0,2,2.0,0,31.0,1,6,0.0,0.0,1.0
48396,zimmejo02,2020,1,DET,AL,0,0,3,2,0,...,0.0,0,0.0,0,28.0,0,6,0.0,0.0,1.0
48397,zimmeky01,2020,1,KCA,AL,1,0,16,1,0,...,0.0,2,1.0,0,91.0,4,4,0.0,0.0,3.0
48398,zuberty01,2020,1,KCA,AL,1,2,23,0,0,...,1.0,1,1.0,0,99.0,8,11,1.0,1.0,3.0

In [4]:
pitch_stats.ERA

0         7.96
1         4.50
2        27.00
3         4.35
4        10.00
         ...
48394     1.59
48395     7.71
48396     7.94
48397     1.57
48398     4.09
Name: ERA, Length: 48399, dtype: float64

In [6]:
pitch_stats.CG

0         2
1        30
2         0
3        22
4         1
         ..
48394     0
48395     0
48396     0
48397     0
48398     0
Name: CG, Length: 48399, dtype: int64

In [7]:
pitch_stats.describe()

,yearID,stint,W,L,G,GS,CG,SHO,SV,IPouts,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,...,33821.000000,48399.000000,47665.000000,48399.000000,48396.000000,48399.000000,48399.000000,29212.000000,29212.000000,28081.000000
mean,1972.196781,1.081035,4.550073,4.550073,23.470754,9.151181,2.931280,0.418500,1.481539,244.894895,...,2.251234,2.575322,2.357957,0.292609,349.414807,6.216430,41.544929,2.660003,2.141106,5.753641
std,38.408926,0.287923,5.707027,4.913383,18.532130,12.129555,6.873115,1.076348,4.968260,252.987651,...,2.703067,3.659715,3.136546,0.740074,354.282289,9.864816,42.499043,3.237716,2.345834,6.287859
min,1871.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1945.000000,1.000000,0.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,47.000000,...,0.000000,0.000000,0.000000,0.000000,71.000000,0.000000,10.000000,0.000000,0.000000,1.000000
50%,1983.000000,1.000000,2.000000,3.000000,21.000000,2.000000,0.000000,0.000000,0.000000,158.000000,...,1.000000,1.000000,1.000000,0.000000,229.000000,3.000000,27.000000,1.000000,1.000000,4.000000
75%,2005.000000,1.000000,7.000000,7.000000,35.000000,16.000000,2.000000,0.000000,1.000000,375.000000,...,3.000000,4.000000,3.000000,0.000000,538.000000,8.000000,65.000000,4.000000,3.000000,8.000000
max,2020.000000,5.000000,60.000000,48.000000,106.000000,75.000000,75.000000,16.000000,62.000000,2040.000000,...,23.000000,83.000000,54.000000,16.000000,2906.000000,84.000000,519.000000,27.000000,17.000000,47.000000

In [9]:
# Return the columns' names
pitch_stats.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')